
@font-face {
  font-family: 'futuraPT';
  src: url("css/fonts/FuturaPTBold.otf");  

}
.navbar-default {
    background-color: #af092b;
    border-radius: black;
    padding: 10px;
    font-size: 19px;
	margin-bottom: 0px;
	font-family: 'Oswald', sans-serif;
	/*	box-shadow: 0px 2px 20px 0px grey;
	/*position: fixed;
	z-index: 1;*/
}
.navbar-brand {
	padding: 8px 30px;
}
.navbar-brand > img{
	height: 40px;
}
.navbar-nav{
	padding-left: 50px;
}
.navbar-default .navbar-nav > li {
	padding-right: 10px;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #e9d016;
 }
.navbar-default .navbar-nav > li > a:hover{
 	color: black;
 	background-color: #e9d016;
 }
.navbar-default .navbar-nav > .active > a:hover{
	color: black;
 	background-color: #e9d016;
}
.btn-default1{
	color: white;
	background-color: #561a1a;
	border-color: white;
	border-radius: 7px;
	padding: 5px 25px;
}
.btn-default1:hover{
	background-color: #e9d016;
	border: none;
	color: black
}
.navbar-header{
	padding-right: 10%;
}
.navbar-right {
	margin-right: 10px;
}

.header-image{
	height: 85vh;
	width: 100%;
	text-align: center;
	position: relative;
}
.picone{
	position: absolute;
	background-image: url('../img/survivor.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: inherit;
	height: inherit;
}
.image-overlay{
	width: inherit;
	height: inherit;
	position: relative;
	background-color: black;
	opacity: 0.6;
}
.textone{
	color: yellow;
	position: absolute;
	top: 25%;
	left: 15%;
	width: 50%;
	text-align: center;
	font-family: 'Neuton', serif;
}
.help{
	font-size: 50px;
}
.texttwo{
	text-align: left;
	font-size: 20px;
}
.bg1{
	background-color: white;
}
.textthree{
	color: black;
	margin-top: 7.2vh;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 7.2vh;
	text-align: center;
	font-family: 'Goudy Bookletter 1911', serif;
}
.headchange{
	font-size: 20px;
	line-height: 25px
}
.para1{
	font-size: 12px;
	margin-top: 10px;
}
.firstB{
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 15px;
	font-size: 25px;
	color: white;
	background-color: #1f074d;
	border-color: black;
	border-radius: 7px;
	padding: 5px 25px;
	text-decoration: none;
}
/*.firstB{
	text-decoration: none;
	color: white;
}*	background-color: #e9d016;
	border: none;
	color: black;
	text-decoration: none;
}*/
.firstB:hover{
	background-color: #e9d016;
	border: none;
	color: black;
	text-decoration: none;
}
.projects{
	height: 25vh;
	width: 80%;
}
.cont1{
	position: relative;
    text-align: left;
    color: white;
    background-color: transparent;
    padding: 0px;
}
.cont11{
	position: absolute;
    bottom: 2%;
    left: 4%;
    margin-bottom: 10px;
}
.cont11 >h4{
    font-family: 'Crete Round', serif;
	color: #140b0b;
	background-color: #f0e1e166;
	padding: 10px;
	font-size: 25px;
}
.borde{
	padding: 2px;
	border: 2px white;
}
.secondB{
	color: white;
	background-color: #1f074d;
	border-color: black;
	border-radius: 7px;
	padding: 5px 25px;
}
.secondB:hover{
	background-color: #e9d016;
	border: none;
	color: black;
	text-decoration: none;
}
.img1{ 
	width: 100%;
	height: 100%;
	margin: 0px;
}
.slider1{
	padding: 0px;
}
.slider1 >h1{
	font-family: 'Neuton', serif;
	color: #fff;
	text-align: center;
	padding: 6px;
	width: 30%;
	margin: 2% 6% 0% 0%;
	background-color: #232121;
	display: inline-block;
}
.slider1 .carousel-inner{
	height: 90vh;
}
.footer1{
	background-color: #af092b;
	padding: 20px;
}
.footer2{
	padding-left: 50px;
}
.footer2 > h4{
	color: #e9d016;
	font-family: 'Neuton', serif;
	font-size: 30px;
}
.footer2 > img{
	height: 70%;
	width: 70%;
	padding-top: 10px;
}
.list1{
	list-style-type: none;
	padding: 0px;
}
.list1 > li > a{
	color: white;
}
/*about us page styling starts here*/

.back1{
	background-image: url('../img/protest.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: inherit;
	height: inherit;
}
.align1{
	text-align: center;
}
.about1{
	height: 220px;
    padding-top: 20px;
}
.head1{
	text-align: center;
	font-family: 'Neuton', serif;
	font-weight: 400;
}
.head2{
	font-weight: 600;
	border-bottom: 2px dashed #f01c0c;
	padding-bottom: 10px;
	font-family: 'Neuton', serif;
}
.align2{
	margin: 0 15%;
	padding: 5%;
	background-color: #e9d016e6;
	border: 5px solid #782020;
	line-height: 2;
}
.align3{
	margin: 0 10%;
	padding: 5%;
	background-color: #e9d016e6;
	border: 5px solid #782020;
	line-height: 2;
}
.para1{
	font-family: 'Neuton', serif;
    font-size: 18px;
}
/*styling for volunteer page starts here*/
.voln2{
	border-bottom: 2px solid #782020;
	margin-bottom: 30px;
	width: 100%;
	padding: 13px;
}
.voln3{
	width: 100%;
	height: auto;
}
.voln4{
    margin: 10px 0px;
    text-align: justify;
    line-height: 1.7;
    font-size: 21px;
    font-family: 'Neuton', serif;
}
.voln4 a{
	padding: 10px; 
	color: white;
	background-color: #0a0707cc;
	border-color: white;
	border-radius: 7px;
	font-family: 'Neuton', serif;
	font-size: 18px;
}
.voln4 a:hover{
	background-color: #e9d016;
	border: none;
	color: black;
}
textarea.form-control{
	height: 70vh;
}